.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* CONTACT FORM*/
.form_container {
  width: 60%;
  margin: auto;
  line-height: 2;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.form{
  width: 80%;
  margin: auto;
}
form h2 {
  color: #101828;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 44px;
  margin-bottom: 20px;
}

form p {
  color: #475467;
  font-size: 1rem;
}

form p.heading {
  margin-bottom: 2rem;
}

form .name_row {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

form .name_row div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form .row {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

form .row span{
  color: #F83F23;
  font-size: .8rem;
}

form .terms {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

form input {
  height: 40px;
  outline: none;
  background: transparent;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding-left: 10px;
  color: #344054;
}

.message_field {
  outline: none;
  background: transparent;
  border: 1px solid #d0d5dd;
  padding: 5px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding-left: 10px;
  color: #344054;
  height: 120px;
  justify-content: start;

}

form label {
  color: #344054;
  font-weight: 500;
  font-size: 14px;
}

form div button {
  width: 100%;
  height: 40px;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  margin: 1rem 0;
}

form div button:hover {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}

@media (max-width:650px){
  .form_container{
    width: 100%;
  }
  .form{
    width: 90%;
  }
  .name_row, .row{
    flex-direction: column;
  }
  form .terms{
    align-items: flex-start;
  }
  .terms p{
    width: 90%;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
  }
  .terms input{
    width: 20px;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
  }
  .form label{
    font-size: 14px;
  }
}

