@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: auto;
 
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
}

#root{
  
  margin: 0 auto;

}

.profile{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 44px;
  height: fit-content;
}
.share img{
  position: absolute;
  transform: translateY(-50%);
  border-radius: 50%;
  
}
.share img:hover{
  box-shadow: 0px 0px 0px 4px #F2F4F7;
}
.share img:nth-child(2){
  display: none;
}
.tooltiptext {
  visibility: hidden;
  width: fit-content;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 8px 8px;
  background: #101828;
  border-radius: 8px;
  position: absolute;
  z-index: 1;

}




.hide{
  display: none;
}
#profile_img{
  width: 88px;
height: 88px;
border-radius: 44px;
margin-bottom: 1.5rem;
}
.share{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.links-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 90%;
height: 68px;
background: #EAECF0;
margin-top: 1.5rem;
border: 1px solid #EAECF0;
border-radius: 8px;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #101828;
transition: .5s ease-in;
}
.links:hover{
  background-color: #d0d5dd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.linktip .tooltiptext{
  transform: translateY(120%);
  background-color: #667085;
  
}
.linktip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #667085 transparent;
}
.socials{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
#slack{
  margin-right: 1rem;
}


.footer{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 0px;
margin: 2rem 5%;
border-top: 0.5px solid rgb(175, 175, 175);

background: #FFFFFF;
}
.footer>*{
  margin-top: 1rem;
}
.zuri-logo{
  width: 9rem;
}
.footer p{
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}


@media (min-width:650px){
  .profile{
    margin-bottom: 2rem;
  }
  .share img{
    position: absolute;
    transform: translateX(-15rem);
    align-items: center;
    border: 1px dashed #d0d5dd;
    border-radius: 50%;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    
    justify-content: center;
    padding: 0.2rem;
  }
  .share img:nth-child(2){
    display: block;
  }
  .share img:nth-child(1){
    display: none;
  }
  .share:hover .tooltiptext {
    visibility: visible;
    transform: translate(-18rem, 0);
    
  
  }
  .share:hover .tooltiptext::after {
    content: " ";
    position: absolute;
    left: 100%; /* At the bottom of the tooltip */
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
 .links{
  font-size: 18px;
  width: 80%;
 }
 h4{
  font-size: 20px;
 }
.footer{
  flex-direction: row;
  justify-content: space-between;
}
.footer img:nth-child(1){
  width: 12rem;
}
.footer img:nth-child(1){
  width: 8rem;
}
.footer p{
  font-size: 1rem;
}

}